.Rproj.user
.Rhistory
.Rapp.history
.RData
.Ruserdata
*-Ex.R
/*.tar.gz
/*.Rcheck/
.Rproj.user/
vignettes/*.html
vignettes/*.pdf
.httr-oauth
*_cache/
/cache/
*.utf8.md
*.knit.md
.Renviron
CatastRoNav.Rcheck/
CatastRoNav*.tar.gz
CatastRoNav*.tgz
CRAN-SUBMISSION
.github/pkg.lock
inst/doc
docs/
cran-comments.md
.Rdata
Rplots.pdf
dev
/dev
/.quarto/
**/*.quarto_ipynb
