.Rproj.user
.Rhistory
.Rapp.history
.RData
.Ruserdata
*-Ex.R
/*.tar.gz
/*.Rcheck/
vignettes/*.html
vignettes/*.pdf
.httr-oauth
*_cache/
/cache/
*.utf8.md
*.knit.md
.Renviron
CatastRoNav*.tar.gz
CatastRoNav*.tgz
CRAN-SUBMISSION
.github/pkg.lock
inst/doc
docs/
cran-comments.md
.Rdata
Rplots.pdf
/.quarto/
**/*.quarto_ipynb
**/.quarto/
README_files/
README.html
*.rmarkdown
index_files/
*index.html
pkgdown/*_files
.positai
.Rproj.user/
CatastRoNav.Rcheck/
